@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #ffffff;
}

* {
  outline: none;
  font-family: 'Times New Roman', Times, serif;
}

code {
  font-family: monospace;
}
